@use "../../010-settings" as *;
@use "contentstyle_vars.scss" as *;


// private accordion vars
$cat-accordion-head-bg-color-hover: $il-highlight-bg;
$cat-accordion-head-text-color-hover: $il-text-color;

// accordion styles
//
body {
    .ilc_va_cntr_VAccordCntr {
        margin: $spacing-small 0;
    }

    .ilc_va_icntr_VAccordICntr {
        background-color: transparent;
        border: none;
        margin-bottom: 0;
    }

    .ilc_va_ihead_VAccordIHead {
        background-color: transparent;
        background-image: none;
        color: $il-text-color;
        cursor: pointer;
        font-size: .9rem;
        font-weight: $il-font-weight-bold;
        line-height: 1.3;
        min-height: auto;
        padding: 10px;
        text-transform: none;
        transition: .3s all;

        &:hover {
            color: $cat-accordion-head-text-color-hover;
            background-color: $cat-accordion-head-bg-color-hover;
            .ilc_va_ihead_VAccordIHeadCap:before {
                color: $cat-accordion-head-text-color-hover;
            }
        }

        .ilc_va_ihead_VAccordIHeadCap,
        .ilc_va_ihcap_VAccordIHeadCap {
            position: relative; // so before element can be positioned absolute
            width: 100%; // in case icon sits at right
            display: flex;
            &:before {
                background-image: none;
                content: "\e604";
                color: $text-color-headline;
                display: inline-block;
                font-family: "il-icons"; // same as slate
                font-size: 0.9rem;
                font-weight: 600;
                margin-right: $spacing-small * 1.375; // keeps distance when icon left, corrected value for same indent as paragraph
                padding-top: 0.14rem;
            }
        }
    }

    .ilc_va_iheada_VAccordIHeadActive {
        // background-color: $global-bg-color;
        color: $il-headings-color;
        .ilc_va_ihead_VAccordIHeadCap {
            &:before {
                content: "\e607";
            }
        }
    }

    .ilc_va_icont_VAccordICont {
        padding: 5px 0 5px 40px;
        background-color: transparent;
    }
}

// alternative accordion styles
//
.ilc_section_AkkordeonEinzelnUmrandet {
    .ilc_va_icntr_VAccordICntr {
        border-radius: $il-border-radius-base;
        border: $il-main-border;
        margin-bottom: $spacing-small;
        overflow: visible;
    }
    .ilc_va_ihead_VAccordIHead {
        padding: $spacing-small $spacing-small $spacing-small $spacing-medium;
    }
    .ilc_va_icont_VAccordICont {
        padding: 0 $spacing-small $spacing-medium $spacing-medium * 2.66;
    }
}

//#en#.ilc_section_AccordeonOutlinedSegmented,
.ilc_section_AkkordeonUmrandetSegmentiert {
    border-radius: $il-border-radius-base;
    border: $il-main-border;;
    border-bottom-width: 0;
    overflow: visible;
    .ilc_va_cntr_VAccordCntr {
        margin: 0;
    }
    .ilc_va_icntr_VAccordICntr {
        border-bottom: $il-main-border;
        &:last-of-type {
            border-bottom: none;
        }
    }
    .ilc_va_ihead_VAccordIHead {
        padding: $spacing-small $spacing-small $spacing-small $spacing-medium;
    }
    .ilc_va_iheada_VAccordIHeadActive {
        background-color: $il-main-darker-bg;
    }
    .ilc_va_icont_VAccordICont {
        padding: $spacing-small $spacing-small $spacing-medium $spacing-medium * 2.66;
        background-color: $il-main-darker-bg;
    }
}

.ilc_section_AkkordeonPfeilRechts {
    .ilc_va_ihead_VAccordIHead .ilc_va_ihead_VAccordIHeadCap {
        justify-content: space-between;
        &:before {
            order: 2;
            margin-right: 0;
        }
    }
}
/*

body .ilc_section_AkkordeonButton,
body *[class*="ilc_section_Karte"] .ilc_section_AkkordeonButton {
    .ilc_va_cntr_VAccordCntr {
        margin: 0;
    }
    .ilc_va_ihead_VAccordIHead,
    .ilc_va_iheada_VAccordIHeadActive {
        .btn();
        .btn-default();
        .input-padding-big();
        display: block;
        margin-bottom: $spacing-medium;
        min-height: auto;
        .ilc_va_ihead_VAccordIHeadCap,
        .ilc_va_ihcap_VAccordIHeadCap {
            display: block;
            &::before {
                display: none;
            }
        }
    }
    .ilc_va_ihead_VAccordIHead {
        margin: 0;
        &.ilc_va_iheada_VAccordIHeadActive {
            margin-bottom: $spacing-small;
        }
    }
    .ilc_va_icont_VAccordICont {
        padding: 0;
        background-color: transparent;
    }
}
*/
