@use "../../010-settings" as *;

// spacing
$spacing-xsmall: .3rem;
$spacing-small: .8rem;
$spacing-medium: 1.2rem; // one value should be equal to @font-size-base
$spacing-large: 2.5rem;
$spacing-xlarge: 4rem;

// color
$text-color-headline: $il-main-color;
$gray-100: $il-main-darker-bg
/*
// typo
$text-color
$font-weight-text-selected

// styles
$border
*/


