$cate-colors: (
    "cate-color-1": #c0069b,
    "cate-color-2": #df0226,
    "cate-color-3": #ec4016, 
    "cate-color-4": #faae1d,
    "cate-color-5": #4a154b,
    "cate-bg-primary": #f9f9f9,
    "cate-bg-secondary": #ffffff,
    "cate-bg-third": #efefef
);

// colors
@use "./010-settings/_settings_color-palette.scss" with (
    $il-main-color: map-get($cate-colors, "cate-color-1"),
    $il-headings-color: map-get($cate-colors, "cate-color-1"),
    $il-main-bg: map-get($cate-colors, "cate-bg-primary"),
    $il-main-dark-bg: map-get($cate-colors, "cate-bg-secondary"),
    $il-main-darker-bg: map-get($cate-colors, "cate-bg-third")
);

@use "./010-settings/_settings_header.scss" with (
    $il-standard-page-header-bg-color: #ffffff
);

// typo
@use "./010-settings/_settings_typography.scss" with (
    $il-web-font-path: "./fonts/",
    $il-font-family-sans-serif: Nunito,
    $il-font-weight-base: 300,
    $il-font-weight-bold: 400,
    $il-headings-font-weight: 300
);

// panel
// does not work because it has only local scope

/*
@use "./010-settings/legacy-settings/legacy-settings_panel" as * with (
    $il-panel-heading-padding: $il-padding-xlarge-vertical $il-padding-xlarge-horizontal 0 $il-padding-xlarge-horizontal 
);
*/


@use "./skin-base.scss" as base;
