// overwrites of GLOBAL cate settings
// are made in the moduls/index-files
// if possible
//
// customer color map
// redefining il-vars with customer-color-vars
@use "sass:list";

$customer-colors: (
        "customer-color-1": #009b31,
        "customer-color-2": #df0226,
        "customer-color-3": #ec4016,
        "customer-color-4": #faae1d,
        "customer-color-5": #4a154b,
        "customer-bg-primary": #ffffff,
        "customer-bg-secondary": #f9f9f9,
        "customer-bg-dark": #efefef,
        "customer-hightlight-bg": #d9f0e0,
);

@use "../010-settings" as * with (
    // color setup
    $il-main-color: map-get($customer-colors, "customer-color-1"),
    $il-headings-color: map-get($customer-colors, "customer-color-1"),
    $il-main-bg: map-get($customer-colors, "customer-bg-primary"),
    $il-main-dark-bg: map-get($customer-colors, "customer-bg-secondary"),
    $il-main-darker-bg: map-get($customer-colors, "customer-bg-dark"),
    $il-standard-page-header-bg-color: map-get($customer-colors, "customer-bg-primary"),
    $il-mainbar-btn-bg-color: map-get($customer-colors, "customer-bg-primary"), //controls the mainbar-bg
    $il-highlight-bg: map-get($customer-colors, "customer-hightlight-bg"),
);

@use "../070-components" as * with (
     $il-mainbar-slates-bg-color: #f5fbf7,
);

/*
@use "../070-components/UI-framework/MainControls/ui-component_mainbar" as * with (
    $il-mainbar-btn-border-radius: 50%,
);
*/
@use "../cate-base.scss" as *;
