// customer color map
$customer-colors: (
        "cate-color-1": #c0069b,
        "cate-color-2": #df0226,
        "cate-color-3": #ec4016,
        "cate-color-4": #faae1d,
        "cate-color-5": #4a154b,
        "cate-bg-primary": #ffffff,
        "cate-bg-secondary": #ffffff,
        "cate-bg-dark": #efefef
);


@use "../010-settings/" as * with (
    // color setup
    $il-main-color: map-get($customer-colors, "cate-color-1"),
    $il-headings-color: map-get($customer-colors, "cate-color-1"),
    $il-main-bg: map-get($customer-colors, "cate-bg-primary"),
    $il-main-dark-bg: map-get($customer-colors, "cate-bg-secondary"),
    $il-main-darker-bg: map-get($customer-colors, "cate-bg-dark"),
    $il-standard-page-header-bg-color: map-get($customer-colors, "cate-bg-primary"),
    $il-mainbar-btn-bg-color: map-get($customer-colors, "cate-bg-primary"), //controls the mainbar-bg
    // grid layout
    $il-standard-page-header-height: 80px,

);


@use "../cate-base.scss" as base;
/*
// test to overwrite specific selectors/parts of components
.il-mainbar-triggers .btn-bulky.engaged {
    box-shadow: 0 0 10px #ccc;
}
*/

